# use glob syntax.
syntax: glob
.gradle/

# Build output
build/
out/
target/
bin/
test-output/
.cache

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject
.scala_dependencies
.cache-main
.cache-tests

# IntelliJ
.idea/
.shelf/
*.iml
*.ipr
*.iws
*.log

# Mac
.DS_Store

node_modules/
